html {
  background-color: #00539F ;
}

body {
  width: 600px;
  margin: 50px auto;
  background-color: #FF9500;
  padding: 0px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0;
  padding: 20px 0;    
  color: black;
  text-shadow: 3px 3px 1px grey;
}

p, li{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img{
  display: block;
  margin: 0 auto;
  padding: 0;
}