.menu-logo {
    height: 120px;
}
a {
    color: #323232;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
    
}
a:hover {
    color: #fff;
    background-color: #fccd01;
}
.navbar {
    background-color: #fccd01;
}
