.card-img-top {
  width: 285px;
  height: 180px;
  object-fit: none; /* Do not scale the image */
  object-position: 140% 90% /* Center the image within the element */
}
.card-img-top {
  margin-left: 6px;
  margin-top: 5px;
}